h1{
    color: white;
    position: relative;
    left: 400pt;
}
h2{
    color: white;
    position: relative;
    left: 400pt;
}

body{
    background-color: maroon;

}
p{
    color: white;
    position: relative;
    left: 400pt;
}
h3{
    color: white;
    position: relative;
    left: 400pt;
}
span{
    color: white;
    position: relative;
    left: 400pt;
}
ul{
    color: white;
    position: relative;
    left: 400pt;
}
footer{
    color: white;
    position: relative;
    left: 400pt;
}
img{
    position: relative;
    left: 200px;
    position: relative;
    left: 400pt;
}
